/* Correct for Bootstrap CSS in angular, as instructed here: http://angular-ui.github.io/bootstrap/ */
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

body {
  background: url(../images/mustmonoSmall.png) no-repeat top right;
  /*background: url(../images/mustmono.png) no-repeat top right;*/
}

textarea {
  resize: vertical;
}

.evenRow {
  background-color: white;
}

.oddRow {
  background-color: #F5F5F5;
}

.headerRow {
  padding: 6px 0px 6px 0px ;
}

.firstRow {
  padding: 10px 0px 5px 0px ;
}

.secondRow {
  padding: 7px 0px 12px 0px
}

.thirdRow {
  padding: 0px 0px 12px 0px;
}

.groupsGrid {
  width: 40%;
  /*height: 268px;*/
}

