<!DOCTYPE html>

<html ng-app="govna">

<head>
    <meta charset="utf-8" />
    <title>Third Party Library Governance</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-glyphicons.css" />
    <link rel="stylesheet" href="css/app.css" />

    <script type="text/javascript" src="js/angular-1.2.9.js" ></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.11.2.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-controller="MainCtrl" >

<div class="container">

    <div class="page-header"><h1 ng-style="{'text-align': 'center'}">Third Party Library Governance</h1></div>

    <!--Finder-->
    <div class="panel panel-success" ng-style="{'width': '70%'}">
        <div class="panel-heading">
            <h3 class="panel-title">Find Group Restriction</h3>
        </div>
        <div class="panel-body">
            <ng-form >
                Group Name:
                <input type="text" size="37" ng-model="groupName"
                       ng-keyup="$event.keyCode == 13 && fetchGroup()"
                       ng-change="clearStuff()"/>
                <button class="btn btn-default" ng-click="fetchGroup()">
                    <span class="glyphicon glyphicon-search"></span> Fetch
                </button>
                <button class="btn btn-default" ng-click="clearGroup()">
                    <span class="glyphicon glyphicon-remove-circle"></span> Clear
                </button>

            </ng-form>
        </div>
    </div>

    <!--Not Found Message-->
    <div ng-if="notFound">
        <form>{{groupName}} not found:
            <button class="btn btn-default" ng-click="newGroupData()">Create</button>
        </form>
    </div>

    <!--Group Data-->
    <div class="panel panel-primary" ng-if="groupData !== null">
        <div class="panel-heading">
            <form>
                <span class="panel-title" ng-style="{'margin' : '40px'}">Restrictions for Group: {{groupData.groupName}}</span>
                <button class="btn btn-default" ng-click="saveGroupData()">Save</button>
            </form>
        </div>

        <form class="well well-sm" >
            <div class="btn-group form-group">
                    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'prohibit'" >Prohibited</label>
                    <label class="btn btn-primary" ng-model="radioModel" btn-radio="'deprecate'" >Deprecated</label>
            </div>
            <div class="form-group">
                <span>Message:</span>
                <input type="text" size="60"/>
            </div>
            <div class="form-group">
                <span>Permitted Consumers:</span>
                <input type="text" size="60"/>
            </div>
        </form>

        <ul class="nav nav-pills nav-stacked">
            <li class="active">
                <a href="#" ng-click="artifactIsCollapsed = !artifactIsCollapsed">
                    <span class="badge pull-left">
                        {{(groupData.artifactRestrictions === undefined ||  groupData.artifactRestrictions === null)  ? 0 : groupData.artifactRestrictions.length}}
                    </span>
                    &nbsp;&nbsp;Artifact Restrictions
                </a>
                <div collapse="artifactIsCollapsed">
                    <div class="well well-sm">artifs</div>
                </div>
            </li>

            <li class="active">
                <a href="#" ng-click="versionIsCollapsed = !versionIsCollapsed">
                    <span class="badge pull-left">
                        {{(groupData.versionRestrictions === undefined ||  groupData.versionRestrictions === null)  ? 0 : groupData.versionRestrictions.length}}
                    </span>
                    &nbsp;&nbsp;Version Restrictions
                </a>
                <div collapse="versionIsCollapsed">
                    <div class="well well-sm">versions</div>
                </div>
            </li>

            <li class="active">
                <a href="#" ng-click="artifactVersionIsCollapsed = !artifactVersionIsCollapsed">
                    <span class="badge pull-left">
                        {{(groupData.artifactVersionRestrictions === undefined ||  groupData.artifactVersionRestrictions === null)  ? 0 : groupData.artifactVersionRestrictions.length}}
                    </span>
                    &nbsp;&nbsp;Artifact Version Restrictions
                </a>
                <div collapse="artifactVersionIsCollapsed">
                    <div class="well well-sm">artifact versions</div>
                </div>
            </li>

        </ul>
    </div>

    <!--Error message-->
    <br>
    <alert type="danger" ng-if="errorMessage != null">{{errorMessage}}</alert>
    <!--Debugging-->
    <br>
    <div>{{groupData}}</div>
    <div>{{groupData.restriction}}</div>


</div>

</body>

</html>
