<!DOCTYPE html>

<html ng-app="govna">

<head>
    <meta charset="utf-8" />
    <title>'Ello Govna</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-glyphicons.css" />
    <link rel="stylesheet" href="css/app.css" />

    <script type="text/javascript" src="js/angular-1.2.9.js" ></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.11.2.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-controller="MainCtrl" >

<div class="container">

    <div class="page-header"><h1 ng-style="{'text-align': 'center'}">'Ello Govna</h1></div>

    <ng-form >
        Group Name:
        <input type="text" ng-model="groupName" />
        <button class="btn btn-default" ng-click="fetchGroup()">
            <span class="glyphicon glyphicon-open"></span> Fetch
        </button>
        <button class="btn btn-default" ng-click="clearGroup()">
            <span class="glyphicon glyphicon-remove-circle"></span> Clear
        </button>

    </ng-form>

    <div>{{groupRestrictions}} </p>

    <alert type="success" close="closeAlert(0)" hide="true">Yay!</alert>

</div>

</body>

</html>
