<!DOCTYPE html>

<html ng-app="govna">

<head>
    <meta charset="utf-8" />
    <title>Third Party Library Governance</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/bootstrap-glyphicons.css" />
    <link rel="stylesheet" href="css/app.css" />

    <script type="text/javascript" src="js/angular-1.2.9.js" ></script>
    <script type="text/javascript" src="js/ui-bootstrap-tpls-0.11.2.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-controller="MainCtrl" >

<div class="container">

    <div class="page-header"><h1 ng-style="{'text-align': 'center'}">Third Party Library Governance</h1></div>

    <div class="panel panel-success" ng-style="{'width': '70%'}">
        <div class="panel-heading">
            <h3 class="panel-title">Find Group Restriction</h3>
        </div>
        <div class="panel-body">
            <ng-form >
                Group Name:
                <input type="text" size="40" ng-model="groupName"
                       ng-keyup="$event.keyCode == 13 && fetchGroup()"
                       ng-change="messageText=null;"/>
                <button class="btn btn-default" ng-click="fetchGroup()">
                    <span class="glyphicon glyphicon-search"></span> Fetch
                </button>
                <button class="btn btn-default" ng-click="clearGroup()">
                    <span class="glyphicon glyphicon-remove-circle"></span> Clear
                </button>

            </ng-form>
        </div>
    </div>

    <alert type="danger" ng-if="messageText != null">{{messageText}}</alert>

    <div>{{groupRestrictions}}</div>

    <ul class="nav nav-pills nav-stacked" ng-if="groupRestrictions !== null">
        <li class="active">
            <a href="#">
                <span class="badge pull-right">42</span>
                Group Restrictions
            </a>
            <div class="well">restriction</div>
        </li>

        <li class="active">
            <a href="#" ng-click="artifactIsCollapsed = !artifactIsCollapsed">
                <span class="badge pull-right">42</span>
                Artifact Restrictions
            </a>
            <div collapse="artifactIsCollapsed">
                <div class="well">artifs</div>
            </div>
        </li>

        <li class="active">
            <a href="#" ng-click="versionIsCollapsed = !versionIsCollapsed">
                <span class="badge pull-right">42</span>
                Version Restrictions
            </a>
            <div collapse="versionIsCollapsed">
                <div class="well">versions</div>
            </div>
        </li>

        <li class="active">
            <a href="#" ng-click="artifactVersionIsCollapsed = !artifactVersionIsCollapsed">
                <span class="badge pull-right">42</span>
                Artifact Version Restrictions
            </a>
            <div collapse="artifactVersionIsCollapsed">
                <div class="well">artifact versions</div>
            </div>
        </li>

    </ul>

</div>

</body>

</html>
