<form class="well well-sm" >

    <div class="row">
        <div class="col-md-2">
            <label class="btn btn-primary" ng-if="true" ng-click="clearRestriction()">Delete</label>
            <label class="btn btn-primary" ng-if="true">Create</label>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-6">
                    <input type="radio" ng-model="groupData.restriction.isDeprecated" value="true">Deprecated</input>
                    {{groupData.restriction.isDeprecated}}
                </div>
                Message:
                <input type="text" size="60" ng-model="groupData.restriction.message"/>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <input type="radio" ng-model="groupData.restriction.isDeprecated" value="false">Prohibited</input>
            <div class="row">
                <span>Permitted Consumers:</span>
                <input type="text" size="60"/>
            </div>
        </div>
    </div>
</form>
