<form role="form">
    <div class="row firstRow"  ng-class-even=" 'evenRow' "  ng-class-odd=" 'oddRow' ">
        <div class="col-sm-1">
            <div ng-show="theRestriction.type==='P'" style="color: #B32554">PROHIBITED</div>
            <div ng-show="theRestriction.type==='D'" style="color: #b17700">Deprecated</div>
        </div>
        <div class="col-sm-2 text-right">
            Artifact ID
        </div>
        <div class="col-sm-2"  style="padding-left: 0px">
            <input type="text" ng-model="theRestriction.artifactId">
        </div>
        <div class="col-sm-3 text-right">
            Version
            <input type="text" placeholder="Low" style="width: 85px; padding-left: 0px" ng-model="theRestriction.versionLow"/>
        </div>
        <div class="col-sm-2">
            <input type="text" placeholder="High" style="width: 85px; padding-left: 0px" ng-model="theRestriction.versionHigh"/>
        </div>
        <div class="col-sm-2 text-right">
            <button class="btn btn-default" ng-click="removeElement($index)"
                    style="padding: 2px 2px 2px 2px ">
                Remove
            </button>
        </div>
    </div>
    <div class="row secondRow"  ng-class-even=" 'evenRow' "  ng-class-odd=" 'oddRow' ">

        <!--Empty column for both Prohibitions and Deprecations-->
        <div class="col-sm-1">&nbsp;</div>

        <div ng-show="theRestriction.type==='P'">
            <div class="col-sm-2 text-right">
                Exempt Consumers
            </div>
            <div class="col-sm-7" style="padding-left: 0px">
                <input type="text" style="width: 100%" ng-model="theRestriction.exemptConsumersString"/>
            </div>
            <div class="col-sm-2 text-right" style="font-size: .7em">
                <div ng-show="!showMessage" ng-click="showMessage = !showMessage">Show Msg<span ng-show="theRestriction.message">*</span></div>
                <div ng-show="showMessage"  ng-click="showMessage = !showMessage">Hide Msg</div>
            </div>
        </div>
        <div ng-show="theRestriction.type==='D'">
            <div class="col-sm-2 text-right">
                Message
            </div>
            <div class="col-sm-9" style="padding-left: 0px">
                <input type="text" style="width: 100%" ng-model="theRestriction.message"/>
            </div>
        </div>
    </div>
    <div class="row thirdRow" ng-show="theRestriction.type==='P' && showMessage"  ng-class-even=" 'evenRow' "  ng-class-odd=" 'oddRow' ">
        <div class="col-sm-1"> </div>
        <div class="col-sm-2 text-right">
            Message
        </div>
        <div class="col-sm-9" style="padding-left: 0px">
            <input type="text" style="width: 100%" ng-model="theRestriction.message"/>
        </div>
    </div>
</form>
